/* Primary, Secondary, Accent, Text colors */
.primary { color: black; }
.primary-bg { background-color: #F1F8FE; }

.secondary { color: #17AEFF;}
.secondary-bg { background-color: black; }
 
.cta_button{background-color: #FFB144 ;}
.cta_button_secondary{background-color: #17AEFF ;}
.footer_bg{background-color: #17AEFF ;}
.fullwidthcontainer_bg{background-color: #17AEFF ;}
.Job_category_bg{background-color: #CDEDFF;}
.Stay_updated_section_border{border-color: #17AEFF;}
.Job_Search_Input_bg{background-color: #FDF7F2;}
.rating_color{color: #FFB144 ;}
.Our_Services_Card_border{border-color: #17AEFF;}
.Score_Card_bg{background-color: #FDF7F2;}
.Analysis_result_bg{background-color:#F5EDED ;}
.Overall_CV_Score_bg{background-color: #def2fd;}