/* app/globals.css */
@import "tailwindcss";

@font-face {
  font-family: 'Gotham';
  src: url('../../src/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../src/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../src/fonts/GOTHAM-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/GOTHAM-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Gotham';
  overflow-x: hidden;
}